<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Lunar - Telemetrias via Tweets</title>

        <link rel="stylesheet" href="/static/jquery-ui-1.11.4/jquery-ui.css">
        <script src="/static/jquery-1.11.2.min.js"></script>
        <script src="/static/jquery-ui-1.11.4/jquery-ui.js"></script>

         <link rel="stylesheet" href="/static/leaflet.css" />
         <link rel="stylesheet" href="/static/font-awesome.css">
         <link rel="stylesheet" href="/static/bootstrap.min.css">
         <link rel="stylesheet" href="/static/leaflet.awesome-markers.css">
         <script src="/static/leaflet.js"></script>
         <script src="/static/leaflet.awesome-markers.js"></script>

        <script src="/static/interface.js"></script>
        <link rel="stylesheet" href="/static/style.css">

    </head>

    <body>
    <img id="logo" src="static/logo.png" />

    <div id="log">
        <textarea rows="3" cols="67" id="log_text" readonly>
        </textarea>
    </div>


    <script></script>

    <div id="left">
         <ul id="bms">
             <li> Embarcação: <input type="text" id="boat_name" readonly > </li>
             <li> Última Atualização: <input type="text" id="hour" readonly > </li>
             <li> Hora na Embarcação: <input type="text" id="boat_timestamp" readonly > </li>
             <li> Tensão da Bateria: <input type="text" id="battery_voltage" readonly > V </li>
             <li> Tensão da entrada: <input type="text" id="input_voltage" readonly > V </li>
             <li> Tensão de saída: <input type="text" id="output_voltage" readonly > V </li>
             <li> Corrente da Bateria: <input type="text" id="battery_current" readonly > A </li>
             <li> Corrente de entrada: <input type="text" id="input_current" readonly > A </li>
             <li> Corrente de saída: <input type="text" id="output_current" readonly > A </li>
         </ul>

         <ul id="arduino">
            <li> Temperatura na caixa: <input type="text" id="box_temperature" readonly > °C </li>
            <li> Latitude Inicial: <input type="text" id="latitude_begin" readonly > </li>
            <li> Latitude Final: <input type="text" id="latitude_end" readonly > </li>
            <li> Longitude Inicial: <input type="text" id="longitude_begin" readonly > </li>
            <li> Longitude Final: <input type="text" id="longitude_end" readonly > </li>
            <li> Velocidade: <input type="text" id="speed" readonly > nós </li>
         </ul>
    </div>

    <div id="middle">
        <ul id="calculations">
          <li> Ti:  <input type="text" id="time_begin" readonly > </li>
          <li> Tf:  <input type="text" id="time_end" readonly > </li>
          <li> Energia:  <input type="text" id="energy" readonly > Ah</li>
          <li> Energia de hoje:  <input type="text" id="energy_of_today" readonly > Ah </li>
          <li> Rotação do Motor:  <input type="text" id="engine_rpm" readonly > rpm </li>
          <li> Distância percorrida:  <input type="text" id="distance_travelled" readonly > mn </li>
          <li> Distância à percorrer:  <input type="text" id="distance_remaining" readonly > mn </li>
         </ul>

    </div>

    <div id='map'></div>

    </body>

</html>